*/{
    margin: 0;
    padding: 0;
}


.parent{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
 
}
.child{
    position: absolute;
    width: 70%;
    height: 70vh;
    background-color:palevioletred;
    top: 10%;
    left: 10%;
    border-radius: 2%;
    opacity: 70%;
    
}
.qwerty{
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 30px;
}
h1{ 
    position: absolute;
    top: 25%;
    left: 17%;
    color: yellow;
    width: 30%;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    position: absolute;
    top: 50%;
    left: 17%;
    width: 30%;
    color: white;
    font-size: large;
    
}
.circle{
    position: absolute;
    width: 600px;
    height: 600px;
    border: 1px solid rgb(241, 170, 194);
    border-radius: 50%;
    margin: auto;
    top: 12%;
    left: 48%;
    background-color: rgb(243, 178, 199);
}
.pic{
    position: absolute;
    width: 60%;
    height: 60vh;
    top: 14.5%;
    left: 40%;
    

}
img{
    width: 90%;
    height: 90vh;
    object-fit: contain;
}
.btn{
    background-color: wheat;
    position: absolute;
    top: 64%;
    left: 29%;
    height: 30px;
    width: 60px;

}
