*{
    margin: 0;
    padding: 0;
}
.page1{
    width: 100%;
    height: 100vh;
    position: relative;
    flex-wrap: wrap;
}
.img1{
    width: 100%;
    height: 100vh;
    object-fit: cover ;
}
/* navbar */
.head1{
    position: absolute;
    top: 5%;
    left: 3%;
    font-size: 35px;
    color: white;
}
.list{
    position: absolute;
    top: 5%;
    right: 5%;
    flex-wrap: wrap;
}
a{
    padding: 20px;
    text-decoration: none;
    color: white;
    transition: .3s;
    flex-wrap: wrap;
}
a:hover{
    background-color: white;
    color: black;
    border-radius: 13px;
    transition: .3s;
}
.head2{
    position: absolute;
    top: 35%;
    left: 35%;
    font-size: 50px;
    color: white;
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
    color: white;
    position: absolute;
    top: 47%;
    left: 47%;
    rotate: 90deg;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    
  }
/*  */
/* grid */
.parent{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    flex-wrap: wrap;
}
.child2,.child1,.child3,.child4,.child5,.child6{
    width: 100%;
    height: 100%;
}
.img2{
    width: 100%;
    height: 100%;
}
.img3{
    width: 100%;
    height: 100%;
}
.img4{
    width: 100%;
    height: 100%;
}
.img5{
    width: 100%;
    height: 100%;
}
.head3{
    text-align: center;
    padding-top: 25%;
    font-size: 50px;
}
p{
    width: 50%;
    padding-left: 30%;
    padding-top: 10%;
}
.head4{
    padding-top: 10%;
    text-align: center;
}
.head5{
    text-align: center;
    padding-top: 25%;
    padding-left: 5%;
    font-size: 40px;
}
.head6{
    padding-top: 10%;
    text-align: center;
}
.child5,.child6{
    position: relative;
}
.head7{
    position: absolute;
    top: 65%;
    left: 40%;
}
.para{
    position: absolute;
    top: 63% ;
    left: %;
}
.head8{
    position: absolute;
    top: 65%;
    left: 40%;
}
/*  */
/* HEAD */
.heading{
    text-align: center;
    padding: 30px;
    padding-top: 100px;
    font-size: 30px;
    color: grey;
    /*  */
}
/* staff */
.father{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 80px;
}
.card{
    width: 300px;
    height: 400px;
    margin: 30px;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;;
}
.staff{
    width: 100%;
    height: 50%;

}
.img6{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 50px;
    padding-left: 65px;
}
.content{
    width: 60%;
    padding: 50px;
    text-align: center;
}
.head9{
    padding: 10px;
}
.images{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    border: 1px solid;
}
.img7,.img8,.img9,.img0{
    width: 100%;
    height: 100%;
}
/*  */
/* end */
.end{
    background-color: rgb(24, 212, 212);
    padding: 100px;
}
.head0{
    text-align: center;
    color: white;

}
.bar{
    padding-left: 42%;
    padding-top: 5%;
}
